<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Культурные События</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path_to/bootstrap-timepicker.min.css">

    <!-- Подключение Bootstrap Icons CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" type="text/css">

    <!-- Подключение пользовательских стилей -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Подключение Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- В head вашего HTML-документа -->
    <link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet" />


    {% block extra_css %}{% endblock %}
</head>
<style type="text/css">

    #login-error {
        background-color: transparent; /* Темно-вишневый или другой темный цвет */
        color: transparent; /* Светло-розовый или другой светлый цвет текста */
        border: none; /* Опционально, добавляет границу вокруг блока */
        font-size: 0.9em;
        margin-top: 0px;
        margin-bottom: 0px;
        /* Остальные стили для внешнего вида */
    }
    
</style>
<body>
    <header class="header-container">
        {% if current_user.is_authenticated %}
            <span class="greeting">
                {% if current_user.type == 'organaizer' %}
                    <a href="{{ url_for('organaizer', nickname=current_user.nickname) }}">{{ current_user.full_name }}</a>
                {% elif current_user.type == 'visitor' %}
                    <a href="{{ url_for('profile', user_id=current_user.id) }}">{{ current_user.full_name }}</a>
                {% endif %}
            </span>
        {% endif %}
        <div class="logo-container">
            <a href="{{ url_for('home') }}" class="header-logo">БЕЗ НАЗВАНИЯ</a>
            
        </div>
        <div class="auth-container">
            {% if not current_user.is_authenticated or current_user.type == 'visitor' %}
            <a href="{{ url_for('register_organaizer') }}" class="apply-link">стать организатором</a>
            {% endif %}
            {% if current_user.is_authenticated and current_user.type == 'organaizer' %}
                <a href="{{ url_for('org_settings') }}" class="settings-link">
                    <i class="bi bi-sliders"style="font-size: 1.8em; margin-left: 10px";></i>
                </a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <button class="main-btn" onclick="window.location.href='{{ url_for('logout') }}'">выйти</button>
            {% else %}
                <button type="button" class="main-btn" data-toggle="modal" data-target="#accountModal">
                    войти
                </button>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2023 Культурные События</p>
    </footer>

    <!-- Модальное окно для входа и регистрации -->
    <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 390px;">
            <div class="modal-content" style="border-radius: 20px; background-color: #1a1a1a;"> <!-- Задайте фоновый цвет здесь -->
                <div class="modal-body p-0">
                    <!-- Навигация по вкладкам -->
                    <ul class="nav nav-tabs" id="accountTabs" role="tablist">
                        <li class="nav-item col-6 p-0"> <!-- Обнуляем padding -->
                            <a class="nav-link active" style="border-top-left-radius: 20px;"id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Вход</a>
                        </li>
                        <li class="nav-item col-6 p-0"> <!-- Обнуляем padding -->
                            <a class="nav-link" id="register-tab" style="border-top-right-radius: 20px;" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Регистрация</a>
                        </li>
                    </ul>
                    <div class="text-center mb-0 mt-4" style="padding: 0px;">
                        <h2 style="margin: 0px; font-size: 39px;">SQIDR</h2>
                    </div>
                    <!-- Место для отображения ошибок входа -->
                    

                    <!-- Контент вкладок -->
                    <div class="tab-content px-5">
                        <!-- Вкладка входа -->
                        <div class="tab-pane fade show active mt-0" id="login" role="tabpanel" aria-labelledby="login-tab">
                             <div id="login-error" class="alert alert-danger px-5 py-0" style="display: inline-block; text-align: left;"></div>
                            {% include 'login_form.html' %}
                        </div>
                        <!-- Вкладка регистрации -->
                        <div class="tab-pane fade mt-2" id="register" role="tabpanel" aria-labelledby="register-tab">
                            {% include 'register_form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Подключение jQuery (полная версия) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Подключение Popper.js (необходим для Bootstrap 4) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Подключение Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="path_to/bootstrap-timepicker.min.js"></script>

    <!-- Подключение Select2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.full.min.js"></script>

    <!-- {% block extra_js %}{% endblock %} -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginForm = document.getElementById('login-form');
            const loginModal = $('#accountModal'); // Получаем jQuery объект модального окна

            loginForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Предотвращаем обычную отправку формы

                const formData = new FormData(this);
                fetch('{{ url_for("login") }}', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        loginModal.modal('hide'); // Закрываем модальное окно
                        location.reload(); // Обновляем страницу
                    } else {
                        const loginErrorDiv = document.getElementById('login-error');
                        loginErrorDiv.textContent = data.error; // Показываем ошибку входа
                        loginErrorDiv.style.color = '#dc3545'; // Делаем элемент видимым
                        loginErrorDiv.style.marginTop = '10px';
                        loginErrorDiv.style.marginBottom = '7px';
                        loginModal.modal('show'); // Открываем модальное окно обратно
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
            });
        });

        


</script>

</body>
</html>