<!-- register_form.html -->
<form id="register-form" action="{{ url_for('register_visitor') }}" method="post" class="needs-validation">
    {{ register_form.hidden_tag() }}

    <div class="text-center">
        <p style="font-size: 0.85em; text-align: center;">
          Вы регистрируетесь в качестве участника!<br>
          Чтобы стать организатором, <a href="{{ url_for('register_organaizer') }}" class="apply-link" style="text-decoration: underline;  margin: 0; padding: 0;">подайте заявку</a>
        </p>
    </div>
    <!-- Поле Полное Имя -->
    <div class="form-group row justify-content-center">
        <div class="col-sm-12">
            {{ register_form.full_name(class="form-control", id="full-name") }}
            <div class="invalid-feedback" id="error-full-name"></div>
        </div>
    </div>
    
    <!-- Поле Email -->
    <div class="form-group row justify-content-center">
        <div class="col-sm-12">
            {{ register_form.email(class="form-control") }}
            <div class="invalid-feedback" id="error-email" style="display: none;"></div>
        </div>
    </div>
    
    <!-- Поле Пароль -->
    <div class="form-group row justify-content-center">
        <div class="col-sm-12">
            {{ register_form.password(class="form-control", id="password") }}
            <div class="invalid-feedback" id="error-password"></div>
        </div>
    </div>
    
    <!-- Поле Подтверждение Пароля -->
    <div class="form-group row justify-content-center">
        <div class="col-sm-12">
            {{ register_form.confirm_password(class="form-control", id="confirm-password") }}
            <div class="invalid-feedback" id="error-confirm-password"></div>
        </div>
    </div>
    
    
    <!-- Кнопка Отправки Формы -->
    <div class="form-group row justify-content-center">
        <div class="col-sm-12 text-center mt-2 mb-2">
        {{ register_form.submit(class="btn btn-fine btn-block") }}
        </div>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const registerForm = document.getElementById('register-form');

        registerForm.addEventListener('submit', function(event) {
            event.preventDefault();

            // Очистка предыдущих ошибок
            document.querySelectorAll('.invalid-feedback').forEach(function(element) {
                element.textContent = '';
                element.style.display = 'none';
            });

            const formData = new FormData(this);
            fetch('{{ url_for("register_visitor") }}', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Для отладки ответа сервера
                if (data.success) {
                    window.location.href = data.redirect;
                } else {
                    // Обработка ошибок, отображение сообщений об ошибках
                    Object.entries(data.errors).forEach(([field, errors]) => {
                        const fieldId = field.replace(/_/g, '-'); // Замена подчеркиваний на дефисы
                        const errorElement = document.querySelector(`#error-${fieldId}`);
                        if (errorElement) {
                            errorElement.textContent = errors.join(' ');
                            errorElement.style.display = 'block';
                        }
                    });
                }
            })
            .catch(error => console.error('Ошибка AJAX запроса:', error));
        });
    });
</script>